* {
    margin: 0 auto;
    padding: 0;
}

.header {
    // background-color: white;
    width: 1440px;
    position: fixed;
    z-index: 10;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    grid-template-columns: 35% 35% 30%;
    align-items: center;
    backdrop-filter: blur(5px);

    .logo {
        display: grid;
        grid-template-columns: 90% 10%;
        align-items: center;
        padding-right: 43px;

        .eng {
            display: grid;
            grid-template-columns: 30% 40% 30%;
            align-items: center;
            position: relative;
            .eng__vector {
                padding-left: 10px;
            }
            .cate__vector{
                display: none;
            }
            .VNM{
                display: none;
                &--active{
                    display: block;
                }
                position: absolute;
                left: 0px;
                padding: 10px 10px;
                margin: 5px 10px;
                background: #0e0e0e;
                top: 100%;
                #vn{
                    color: white;
                    text-decoration: none;
                  
                }
            }
        }
    }
    .menu__all{
        .menu__desktop ul {
            list-style: none;
    
            li {
                float: left;
                padding: 0 15px;
            }
    
            a:hover {
                display: block;
                color: rgb(31, 18, 18);
                text-decoration: none;
    
            }
        }
        .menu__mobi {
            display: none;
        }
    }
    .join__Now {
        padding: 6px 12px;
        background: #ffffff;
        box-shadow: 4px 4px 6px rgba(192, 206, 255, 0.64);
        border-radius: 10px;

    }

}
// responsive mobile

@media all and (max-width: 568px) {
    .header {
        width: 100%;
        position: fixed;
        z-index: 10;
        display: grid;
        left: 45%;
        transform: translateX(-50%);
        grid-template-columns: 35% 35% 30%;
        align-items: center;
        backdrop-filter: blur(5px);
        padding: 12px 0px;
        .logo {
            display: grid;
            grid-template-columns: 90% 10%;
            align-items: center;
            .logo__img img{
                width: 67px;
                height: 31px;   
            }
            .eng {
                padding-left: 180px;
                display: grid;
                grid-template-columns: 30% 40% 30%;
                align-items: center;

                .eng__vector {
                    padding-left: 10px;
                }
                .cate__vector{
                   display: flex;
                   height: 10px;
                   top: 30px;
                   left: 30px;
                }
            }
        }
        .menu__all{
            position: relative;
            .menu__desktop{
                display: none;
            }
            .menu__mobi{
                position: absolute;
                top: -7px;
                left: 260px;
            
            }
        }
        .join__Now{
            display: none;
        }
    }
}