*{
    margin: 0 auto;
    padding: 0;
}
section{
    background-color: white;
    position: relative;
    width: 1440px;
    font-family: Roboto;
    font-style: normal;
    .Lighthouse{
        background: url('/images/Group 40.png') no-repeat;
        background-position-x: right;
        height: 80vh;
        margin-bottom: 40px;
        .Lighthouse__text{
            position: absolute;
            width: 480px;
            height: 201px;
            left: 151px;
            top: 266px;
            h1{
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
            }
            p{
                padding: 20px 0px;
            }
            div{
                position: relative;
                button{
                    width: 140px;
                    height: 45px;
                    color: white;
                    background: #4661F3;
                    border-radius: 5px;
                    padding-right: 10px;
                  
                }
                u{
                    position: absolute;
                    text-decoration-line: underline;
                    left: 160px;
                    top: 10px;
                    text-align: left;
                    color: #343434;
                }
                p{
                    position: absolute;
                    left: 264px;
                    top: -7px;
                }
                

            }
        }
        .Lighthouse__img{
            .img_03{
            position: absolute;
            left: 100px;
            top: 600px;
            }
            .img_01{
                position: absolute;
                left: 450px;
                top: 211px;
            }
            .img_02{
                position: absolute;
                left: 590px;
                top: 400px;

            }
        }
    }
    .Lighthouse::before{
        content: "";
        background: url('/images/Layer 2.png') no-repeat;
        background-size: 100%;
        height: 40vh;
        width: 420px;
        position: absolute;
        top: 0px;
        left: 0px;
      
    }
    .wrapper{
        width: 1142px;
        .trademark{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            background: #DEE4FE;
            border-radius: 10px;
            align-items: center;
            height: 100px;
            }
        .title h2{
            font-size: 30px;
            line-height: 150%;
            text-align: center;
            color: #4B4B4B;
            padding: 70px 0px;
            }
        .title h3{
            font-size: 30px;
            line-height: 150%;
            text-align: center;
            color: #4B4B4B;
            padding: 70px 0px 0px 0px; 
        }
        .content{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
               text-align: center;
               padding-bottom: 80px;
                h3{
                    padding: 40px 0px;
                }
                 p{
                  width: 300px;
                  }
                }
        .content__dautu{
            background: url('/images/dautu.png') no-repeat;
            height: 80vh;
            background-position-x: 25%;
            .dautu__text{
                position: absolute;
                width: 247px;
                height: 70px;
                left: 824px;
                top: 1668px;
                h3{
                    text-transform: uppercase;
                    color: #959595;
                    height: 40px;
                }
                h2{
                    height: 111px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 35px;
                    color: #4B4B4B;
                }
                p{
                    width: 393px;
                    height: 116px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;

                    color: #656565;
                }
                button{
                    width: 140px;
                    height: 45px;
                     background: #4661F3;
                    box-shadow: 4px 4px 6px 3px rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    color: white;
                }
            }

        }
        .grid-container {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto ;
            grid-gap: 1px;
            padding: 1px;
                .item1__grid{
                    background: url("/images/Asset001.png") no-repeat;
                    height: 40vh;
                    background-position-x: 90%;
                    border-left:  2px dashed #BDBDBD;
                    position: relative;
                    // border-bottom: 3px dashed #BDBDBD;
                      .item1__text{
                            position: absolute;
                            width: 374px;
                            height: 84px;
                            left: 104px;
                            top: 0px;
                                h3{
                                width: 374px;
                                height: 84px;
                                font-family: Roboto;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 28px;
                                line-height: 42px;
                                color: #4B4B4B;
                                padding: 15px 0px;
                              }
                              p{
                                padding: 10px 0px;
                                width: 396px;
                                height: 58px;
                             
                                font-family: Roboto;
                                font-style: normal;
                                font-weight: 300;
                                font-size: 16px;
                                line-height: 19px;

                                color: #656565;
                              }
                            div{
                                display: flex;
                                u{
                                    padding-top: 5px;
                                    width: 110px;
                                }
                              
                            }
                             
            
                        }
                }
                .item1__grid::after{
                    content: "";
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    width: 55.5%;
                    border-bottom: 2px dashed #ccc;
                 }
                .item1__grid::before{
                    content: "";
                    position: absolute;
                    left: -12px;
                    height: 9px;
                    width: 9px;
                    top: 0px;
                    border: 6px solid   #e0dbd5;
                    background-color: #ff8a00;
                    border-radius: 50%;
                    
                }
                .item2__grid{
                    background: url("/images/Asset 002.png") no-repeat;
                    height: 50vh;
                    background-position-x: 14%;
                    background-position-y: 40%;
                    position: relative;
                    .item2__text{
                        position: absolute;
                        width: 230px;
                        height: 84px;
                        left: 690px;
                        top: 70px;
                        h3{
                            width: 230px;
                            height: 84px;
                          
                            padding: 20px 0px;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 28px;
                            line-height: 150%; 
                            color: #4B4B4B;
                        }
                        p{
                            width: 396px;
                            height: 72px;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 19px;

                            color: #656565;
                        }
                        div{
                            display: flex;
                            u{
                                padding-top: 5px;
                                width: 235px;
                            }
                            p{
                                padding: 10px;
                            }
                        
                        }
                    }
                }
                .item2__grid::before{
                    content: "";
                    border-right: 2px dashed #ccc ;
                    position: absolute;
                    height: 50vh;
                    left: 55.3%;
                }
                .item2__grid::after{
                    content: "";
                    position: absolute;
                    left: 620px;
                    height: 11px;
                    width: 11px;
                    top: 78px;
                    border: 6px solid #e0dbd5;
                    background-color: #ff8a00;
                    border-radius: 50%;
                }
                .item3__grid{
                    background: url("/images/Asset 003.png") no-repeat;
                    height: 45vh;
                    background-position-x: 85%;
                    border-left: 2px dashed #ccc;
                    position: relative;
                  
                    .item3__text{
                        position: absolute;
                        width: 321px;
                        height: 66px;
                        left: 104px;
                        top: 44px;
                        div{
                            img{
                                position: absolute;
                                top: 10px;
                                left: -116px;
                                border: 6px solid #e0dbd5;
                                background-color: #ff8a00;
                                border-radius: 50%;
                            
                            }
                        }
                        h3{
                            width: 321px;
                            height: 66px;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 28px;
                            line-height: 33px;
                            padding: 20px 0px;
                            
                            color: #4B4B4B;
                        }
                        p{
                            width: 434px;
                            height: 93px;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 19px;

                            color: #656565;
                        }
                        div{
                            display: flex;
                            u{
                                padding-top: 5px;
                                width: 150px;
                            }
                            p{
                                padding: 10px;
                            }
                        
                        }
                    }
                }
                .item3__grid::after{
                    content: "";
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    width: 50%;
                    border-bottom: 2px dashed #ccc;
                 }
                .item3__grid::before{
                    content: "";
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 55.5%;
                    border-top: 2px dashed #ccc;
                 }

        } 
        .content_laptop{
            background: url('/images/112 1.png') no-repeat;
            height: 60vh;
            background-position-x: 100%;
            background-position-y: 60%;
            position: relative;
            padding: 30px 0px;
            .laptop_title{
                h2{
                    position: absolute;
                    width: 128px;
                    height: 24px;
                    left: 50px;
                    top: 230px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.18em;
                    text-transform: uppercase;
                    color: #959595;
                }
                h3{
                    position: absolute;
                    width: 294px;
                    height: 90px;
                    left: 50px;
                    top: 270px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 150%;
                    color: #4B4B4B;
                }
                p{
                    position: absolute;
                    width: 367px;
                    height: 122px;
                    left: 50px;
                    top: 370px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 150%;
                    color: #656565;
                }

            }
        }
    
    }
    .space{
        height: 100px;
        position: relative;
        
    }
    .space::before{
        content: "";
        border-right: 2px dashed #ccc ;
        position: absolute;
        height: 60px;
        left: 49.9%;
        
    }
    .space::after{
        content: " ";
        position: absolute;
        left: 709px;
        height: 10px;
        width: 10px;
        top: 60px;
        border: 6px solid #e0dbd5;
        background-color: #ff8a00;
        border-radius: 50%;
    }
    .content_kiemtien{
        display: grid;
        grid-template-columns: 60% 40%;
        background: #dcf2ff;
        border-radius: 10px;
        height: 400px;
        position: relative;
        .kiemtien_title{
            p{
                position: absolute;
                width: 165px;
                height: 24px;
                left: 860px;
                top: 40px;
                
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
              
                color: #959595;
            };
            h3{
                position: absolute;
                width: 340px;
                height: 90px;
                left: 860px;
                top: 75px;

                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 120%;
            };
            .p{
                position: absolute;
                width: 328px;
                height: 72px;
                left: 860px;
                top: 160px;
                
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                
                color: #656565;
            }

        }
        .slider{
            height: 400px;
            width: 715px;
            padding-left: 125px;
            .slider__row{
                display: flex;
                justify-content: center;
                padding-left: 0px;
                padding-top: 30px;
               
                .slide__item1{
                    background: url('/images/Group 32.png') no-repeat;
                    height: 275px;
                    margin: 10px;
                    .slide__text{
                       padding-left: 30px ;
                       padding-top: 30px;
                        h3{
                            padding: 10px 0px;
                        }
                        p{
                            width: 180px;
                            font-size: 15px;
                            line-height: 18px;
                        }
                    }
                }
                .slide__item2{
                    background: url('/images/Group 33.png') no-repeat;
                    height: 275px;
                    margin: 10px;
                    .slide__text{
                        padding-left: 30px ;
                        padding-top: 30px;
                        h3{
                            padding: 10px 0px;
                        }
                        p{
                            width: 180px;
                            font-size: 15px;
                            line-height: 18px;
                        }
                    }
                }
                .slide__item3{
                    background: url('/images/Group 32.png') no-repeat;
                    height: 275px;
                    margin: 10px;
                    .slide__text{
                        padding-left: 30px ;
                        padding-top: 30px;
                         h3{
                             padding: 10px 0px;
                         }
                        p{
                           
                            width: 178px;
                            font-size: 15px;
                            line-height: 18px;
                        }
                    }
                }
            }
            .button__btn{
                display: flex;
                justify-content: space-between;

                .prev, .next {
                    border: noe;
                    border: none;
                    color: #7979ff;
                 
                    font-size: 30px;
                }
                .prev{
                    position: absolute;
                    left: 150px;
                    bottom: 20px;
                }
                .next{
                    position: absolute;
                  right: 600px;
                    bottom: 20px;
                }

            }
        }
    }

    .content_world{
        background: url("/images/Groupm1.png") no-repeat;
        height: 40vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .flex{
            display: flex;
            padding-top: 120px;
            .flex_text{
                padding-left: 10px;
                h1{
                    color: blue;
                    font-size: 30px;
                }
                p{
                    width: 98px;
                    height: 44px;
                }
            }
        }

    }
    .content_thamgia{
        text-align: center;
        background: url('/images/Rectangle 17.png') no-repeat;
        height: 200px;
        margin-top: -39px;
        h1{
            padding-top: 70px;
            padding-bottom: 15px;
            color: white;
        }
        .now{
            padding: 10px 10px;
            box-shadow: 4px 4px 6px #0E18A0;
            border-radius: 5px;
            color: #0E18A0;
        }
        .add{
            padding: 10px 10px;
            box-shadow: 4px 4px 6px #0E18A0;
            border-radius: 5px;
            background: #2632DA;
            color: white;
        }

    }
}
@media all and (max-width: 568px){
    section{
        width: 568px;
        .Lighthouse{
            background: none;
            .Lighthouse__text{
                position: absolute;
                width: 509px;
                height: 155px;
                left: 55px;
                top: 314px;
             
                h1{
                    width: 361px;
                    height: 158px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 150%;
                    margin: 0;
                    color: #4B4B4B;
                }
                p{
                    width: 365px;
                    height: 42px;           
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    color: #2F2F2F;
                    margin: 0;
                }
                div{
                    position: relative;
                    button{
                        width: 96px;
                        height: 35px;
                        color: white;
                        background: #4661F3;
                        border-radius: 5px;
                       
                      
                    }
                    u{
                        position: absolute;
                        text-decoration-line: underline;
                        left: 113px;
                        top: 5px;
                        text-align: left;
                        color: #343434;
                    }
                    p{
                        position: absolute;
                        left: 220px;
                        top: -12px;
                    }
                    
    
                }
            }
            .Lighthouse__img{
                display: none;
            }
        }
        .Lighthouse::before{
            content: "";
            background: url('/images/Layer 2.png') no-repeat;
            background-size: 100%;
            height: 40vh;
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
          
        }
        .title  h2{
            width: 230px;
            height: 40px;
            text-align: left!important;
            font-family: Roboto;
            font-style: normal;
            margin-left: 40px;
            }
        
        .wrapper{
            width: 568px;
            .trademark{
                display: none;
            }
            .content{
                display: grid;
                grid-template-columns: auto auto;
               text-align: left;
               padding-bottom: 80px;
               margin-left: 40px;
               div{
                   padding: 10px 0px;
               }
                h3{
                    padding: 25px 0px;
                }
                 p{
                  width: 258px;
                  }
                }
            .content__dautu{
               
                background: url('/images/dautu.png') no-repeat;
                height: 50vh;
                background-position-x: 12%;
                background-position-y: 25%;
                background-size: 40%;
                .dautu__text{
                    position: absolute;
                    width: 285px;
                    
                    left: 275px;
                    top: 1576px;
                    h3{
                        width: 241px;
                        height: 21px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        text-transform: uppercase;
                        color: #959595;
                    }
                    h2{
                        width: 247px;
                        height: 59px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 23px;
                        line-height: 25px;
                        color: #4B4B4B;
                    }
                    p{
                        width: 247px;
                        height: 109px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 17px;
                        color: #656565;
                    }
                    button{
                        width: 100px;
                        height: 40px;
                        background: #4661F3;
                        box-shadow: 4px 4px 6px 3px rgba(0, 0, 0, 0.1);
                        border-radius: 8px;
                        margin: 25px 0px 0px 15px;
                    }
                }
    
            }
            .grid-container{
                .item1__grid{
                    background: url("/images/Asset001.png") no-repeat;
                    height: 40vh;
                    background-position-x: 90%;
                    background-position-y: 65%;
                    border-left:  none;
                    position: relative;
                    background-size: 50%;
                      .item1__text{
                            position: absolute;
                            width: 374px;
                            height: 84px;
                            left: 40px;
                            top: 0px;
                                h3{
                                    width: 274px;
                                    height: 68px;
                                    font-family: Roboto;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 23px;
                                    line-height: 30px;
                                    color: #000000;
                                    padding: 15px 0px;
                                    margin: 0;
                              }
                              p{
                                padding: 10px 0px;
                                width: 194px;
                                height: 91px;
                                font-family: Roboto;
                                font-style: normal;
                                font-weight: 300;
                                font-size: 15px;
                                line-height: 17px;
                                color: #656565;
                                margin: 0;
                            
                              }
                            div{
                                display: flex;
                                u{
                                    padding-top: 5px;
                                    width: 80px;
                                    margin: 0;
                                }                                                       
                            }
                             
            
                        }
                }
                .item2__grid{
                    background: url("/images/Asset 002.png") no-repeat;
                    height: 50vh;
                    background-position-x: 10%;
                    background-position-y: 40%;
                    background-size: 50%;
                    position: relative;
                    .item2__text{
                        position: absolute;
                        width: 230px;
                        height: 84px;
                        left: 320px;
                        top: 70px;
                        h3{
                            width: 230px;
                            height: 50px;
                            padding: 20px 0px;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 23px;
                            line-height: 150%;
                            color: #4B4B4B;
                        }
                        p{
                            width: 231px;
                            height: 50px;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 17px;
                            color: #656565;
                        }
                        div{
                            display: flex;
                            u{
                                padding-top: 20px;
                                width: 130px;
                             }
                            p{
                             padding: 25px 0px 0px 0px;
                               margin: 0;
                             

                            }
                        
                        }
                    }
                }
                .item3__grid{
                    background: url("/images/Asset 003.png") no-repeat;
                    height: 45vh;
                    background-position-x: 90%;
                    background-position-y: 50%;
                    background-size: 50%;
                    border-left: none;
                    position: relative;
                  
                    .item3__text{
                        position: absolute;
                        width: 321px;
                        height: 66px;
                        left: 40px;
                        top: 0px;
                        div{
                            img{
                               display: none;
                            }
                        }
                        h3{
                            width: 274px;
                            height: 40px;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 23px;
                            line-height: 30px;
                            color: #000000;
                            padding: 15px 0px;
                            margin: 0;
                        }
                        p{
                            padding: 10px 0px;
                            width: 194px;
                            height: 91px;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 17px;
                            color: #656565;
                            margin: 0;
                        
                        }
                        div{
                            display: flex;
                            u{
                                padding-top: 55px;
                                width: 80px;
                                margin: 0;
                            }
                            p{
                                padding: 60px 0px 0px 0px;
                            }
                                                     
                        }
                    }
                }
            }
            .content_laptop{
                background: url('/images/112 1.png') no-repeat;
                height: 40vh;
                background-position-x: 90%;
                background-position-y: 50%;
                background-size: 50%;
                position: relative;
                padding: 30px 0px;
                .laptop_title{
                    position: absolute;
                  top: -150px;
                    left: 0px;
                    h2{
                        // position: absolute;
                        width: 128px;
                        height: 24px;
                        // left: 50px;
                        // top: 230px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.18em;
                        text-transform: uppercase;
                        color: #959595;
                    }
                    h3{
                        width: 231px;
                        height: 72px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 23px;
                        line-height: 130%;
                        color: #4B4B4B;
                    }
                    p{
                        width: 214px;
                        height: 110px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 15px;
                        line-height: 140%;
                        color: #656565;
                    }
    
                } 
            }
            .title h3{
                text-align: center;
            }
            .item1__grid::after,.item1__grid::before,.item2__grid::before,.item2__grid::after,.item3__grid::after,.item3__grid::before{
                display: none;
               }
        }
        .space::before,.space::after{
            display: none;
        }
        .content_kiemtien{
            display: grid;
            grid-template-columns: 60% 40%;
            background: #dcf2ff;
            border-radius: 10px;
            height: 400px;
            position: relative;
            .kiemtien_title{
                // position: absolute;
                // top: 50px;
                // left: 50px;
                p{
                    position: absolute;
                    width: 165px;
                    height: 24px;
                    left: 362px;
                    top: 40px;
                    
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                  
                    color: #959595;
                };
                h3{
                    position: absolute;
                    width: 190px;
                    height: 90px;
                    left: 362px;
                    top: 75px;
    
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 23px;
                    line-height: 120%;
                };
                .p{
                    position: absolute;
                    width: 158px;
                    height: 72px;
                    left: 362px;
                    top: 160px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    color: #656565;
                }
    
            }
            .slider{
                height: 400px;
                width: 278px;
                padding-left: 0px;
                .slider__row{
                    display: flex;
                    justify-content: center;
                    padding-left: 0px;
                    padding-top: 30px;
                   
                    .slide__item1{
                        background: url('/images/Group 32.png') no-repeat;
                        height: 275px;
                        margin: 10px;
                        .slide__text{
                           padding-left: 30px ;
                           padding-top: 30px;
                            h3{
                                padding: 10px 0px;
                            }
                            p{
                                width: 180px;
                                font-size: 15px;
                                line-height: 18px;
                            }
                        }
                    }
                    .slide__item2{
                        background: url('/images/Group 33.png') no-repeat;
                        height: 275px;
                        margin: 10px;
                        .slide__text{
                            padding-left: 30px ;
                            padding-top: 30px;
                            h3{
                                padding: 10px 0px;
                            }
                            p{
                                width: 180px;
                                font-size: 15px;
                                line-height: 18px;
                            }
                        }
                    }
                    .slide__item3{
                        background: url('/images/Group 32.png') no-repeat;
                        height: 275px;
                        margin: 10px;
                        .slide__text{
                            padding-left: 30px ;
                            padding-top: 30px;
                             h3{
                                 padding: 10px 0px;
                             }
                            p{
                               
                                width: 178px;
                                font-size: 15px;
                                line-height: 18px;
                            }
                        }
                    }
                }
                .button__btn{
                    display: flex;
                    justify-content: space-between;
    
                    .prev, .next {
                        border: noe;
                        border: none;
                        color: #7979ff;
                     
                        font-size: 30px;
                    }
                    .prev{
                        position: absolute;
                        left: 35px;
                        bottom: 20px;
                    }
                    .next{
                        position: absolute;
                        left: 270px;
                        bottom: 20px;
                    }
    
                }
            }
        }
        .content_world{
            background: url("/images/Groupm1.png") no-repeat;
            height: 22vh;
            background-size: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .flex{
                padding-top: 10px;
                flex-direction: column;
                img{
                    width: 50px;
                    height: auto;
                }
                .flex_text{
                   
                    padding-left: 10px;
                    h1{
                        color: blue;
                    }
                    p{
                        width: 98px;
                        height: 44px;
                    }
                }
            }
    
        }
        .content_thamgia{
            text-align: center;
            background: url('/images/ft_img.png') no-repeat;
            height: 200px;
            background-size: 100%;
            margin-top: -39px;
            h1{
                padding-top: 70px;
                padding-bottom: 15px;
                color: white;
            }
            .now{
                padding: 10px 10px;
                box-shadow: 4px 4px 6px #0E18A0;
                border-radius: 5px;
                color: #0E18A0;
            }
            .add{
                padding: 10px 10px;
                box-shadow: 4px 4px 6px #0E18A0;
                border-radius: 5px;
                background: #2632DA;
                color: white;
            }
    
        }
    }
}



